<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Music Online - Admin Login</title>
    <link rel="shortcut icon" href="https://www.wynk.in/assets/icons/icon-384x384.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet" href="../stylesheet/admin-dehboard.css">
</head>
<body>
    <div id="main">
        <%- include("admin-nav.ejs")%>
        <div class="admin-pg">
            <%- include("site-menu.ejs")%>
            <div class="admin-pg-rt">
                
                <div class="admim-pages comment-page active">comment</div>
            </div>
        </div>
        
    </div>
    <script src="../script/admin.js"></script>
    
</body>
</html>